RewriteEngine On

RewriteRule ^transactions/(.*)/([0-9]+) /transactions/$1/index.php?id=$2
RewriteRule ^budgets/(.*)/([0-9]+) /budgets/$1/index.php?id=$2
RewriteRule ^goals/(.*)/([0-9]+) /goals/$1/index.php?id=$2
RewriteRule ^accounts/(.*)/([0-9]+) /accounts/$1/index.php?id=$2

RewriteRule ^users/(.*)/([0-9]+) /users/$1/index.php?id=$2
RewriteRule ^settings/(.*)/([0-9]+) /settings/$1/index.php?id=$2

#Options -Indexes

php_flag log_errors on
php_value error_log /home/u617199672/domains/vales.tech/public_html/PHP_errors.txt

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:vales.tech
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} vales.tech
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:vales.tech

ErrorDocument 404 /index.php

# Headers
Header add Access-Control-Allow-Origin *
Header add Access-Control-Allow-Headers "origin,x-access-token, x-requested-with, content-type, authorization"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

